<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!-- appender : where -->
<!-- layout : how -->
<!-- logger : log message 전달자 -->
<!-- logging event level : debug < info < warn < error < factal -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="kr.or.ddit" level="info"></Logger>
  	<Logger name="jdbc.sqltiming" level="debug"></Logger>
  	<Logger name="jdbc.resultsettable" level="debug"></Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>