<html>
<script type="text/javascript" src = "@jqueryurl/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		var imgPtrn = "<img src ='@imageUrl?image=%S'/>";
		var videoPtrn = "<video src = '@imageUrl?image=%S' controls='auto'/>";
		
		var resultArea = $("#resultArea");
		$("select").on("change", function() {
			let value = $(this).val();
			
			let option = $(this).find("option:selected");
			let clzName = $(option).attr("class");
			let innerTag = null;
			
			if(clzName.startsWith('image')){
				innerTag = imgPtrn.replace("%S", value);
			}else if (clzName.startsWith('video')){
				innerTag = videoPtrn.replace("%S", value);
			}
			
			if(innerTag){
				resultArea.html(innerTag);
			}
			
		})
		
	});
	

</script>


<body>

	<select>
		<option>파일선택</option>
		@options
	</select>
	<div id="resultArea">
	
	</div>
</body>

</html>