<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>webStudy03_framework</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>kr.or.ddit.listener.SampleListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>contentsPath</param-name>
    <param-value>d:/contents</param-value>
  </context-param>
  <context-param>
    <param-name>testParam</param-name>
    <param-value>paramValue</param-value>
  </context-param>
  <filter>
    <filter-name>CharaterEncodingFilter</filter-name>
    <filter-class>kr.or.ddit.filter.CharaterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharaterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FileUploadCheckFilter</filter-name>
    <filter-class>kr.or.ddit.filter.FileUploadCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadCheckFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>kr.or.ddit.mvc.FrontController</servlet-class>
    <init-param>
      <param-name>basePackage</param-name>
      <param-value>kr.or.ddit</param-value>
    </init-param>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>/WEB-INF/views/</param-value>
    </init-param>
    <init-param>
      <param-name>suffix</param-name>
      <param-value>.jsp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config/>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class>
    <init-param>
      <param-name>initName</param-name>
      <param-value>/eclipse.ini</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptionServlet</servlet-name>
    <url-pattern>/desc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageListServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet02.ImageListServlet</servlet-class>
    <init-param>
      <param-name>contentsPath</param-name>
      <param-value>d:/contents</param-value>
    </init-param>
    <init-param>
      <param-name>imagePath</param-name>
      <param-value>/image/image.do</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageListServlet</servlet-name>
    <url-pattern>/image/imageList.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
</web-app>